* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, html {
    height: 100%;
    overflow-x: none;
    overflow-y: none;
}

.center {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 15px;
}